7-zip.org
admin.fedoraproject.org
.anaconda.org
.anaconda.com
api.snapcraft.io
archive.ubuntu.com
auth.docker.io
binstar-cio-packages-prod.s3.amazonaws.com
bioconductor.org
buildlogs.centos.org
changelogs.ubuntu.com
cloudfront.net
cloud.r-project.org
conda.anaconda.org
cran.r-project.org
debuginfo.centos.org
dl.delivery.mp.microsoft.com
docs.microsoft.com
download1.rstudio.org
download2.rstudio.org
downloadcontent.opensuse.org
download.docker.com
download.fedoraproject.org
download.microsoft.com
download.opensuse.org
download.sublimetext.com
download.windowsupdate.com
edadfed.ed.ac.uk
fe2.update.microsoft.com
files.pythonhosted.org
ftp.gwde.de
gb.archive.ubuntu.com
git.ecdf.ed.ac.uk
go.microsoft.com
index.docker.io
login.ubuntu.com
microsoft.com
mirror.bytemark.co.uk
mirrorcache-eu.opensuse.org
mirror.centos.org
mirrorlist.centos.org
mirror.netweaver.co.uk
mirrors.fedoraproject.org
mirrors.iuscommunity.org
mirrors.rockylinux.org
mongodb.org
nginx.org
ntservicepack.microsoft.com
nvidia.github.io
packages.gitlab.com
packages.microsoft.com
postgresql.org
ppa.launchpad.net
public.apps.ubuntu.com
pypi.org
pypi.python.org
registry-1.docker.io
repo.anaconda.com
rstudio.com
rundeck.com
statsfe2.update.microsoft.com
.snapcraftcontent.com
uoe-my.sharepoint.com
update.microsoft.com
vault.centos.org
windows.update.com
windowsupdate.com
windowsupdate.microsoft.com
wustat.windows.com
www.bbc.co.uk
www.bioconductor.org
www.mirrorservice.org
www.mozilla.org
