cloud.r-project.org/bin/linux/ubuntu/
cogstack.rosalind.kcl.ac.uk/exports/gcp-2.5.hw.tar.gz
cog-uk.s3.climb.ac.uk/phylogenetics/latest/
database.clamav.net/
git.ecdf.ed.ac.uk/wcdi/
github.com/sylabs/singularity/releases/download/
https://cogstack.rosalind.kcl.ac.uk/exports/bio-yodie-1.2.1-se.tar.gz
https://netix.dl.sourceforge.net/project/gate/gate/8.1/gate-8.1-build5169-ALL.zip
https://raw.githubusercontent.com/CogStack/CogStack-SemEHR/safehaven_mini/installation/install_semehr.sh
https://sourceforge.net/project/gate/gate/8.1/gate-8.1-build5169-ALL.zip
pypi.org/project/
registry-1.docker.io/v2/
www.clamav.net/downloads/
www.mirrorservice.org/sites/
www.stats.bristol.ac.uk/R/
snapcraft.io/snap-store
